$mvc-width:800px;
.todoMVC-container {
  width: $mvc-width;
  margin: 100px auto;
  .input-area{
    float:right;
    margin-left:40px;
    width:70%;
  }
  .event-list{
    width: $mvc-width;
    margin-top: 20px;
    .event-item{
      height: 40px;
      line-height: 40px;
      &>a{
        float: right;
        margin-left: 20px;
      }
    }
  }
}
